#details-container{
    margin: 3%;
    display: flex;
    justify-content: center;
}
#details-image-container{
    padding: 0 3%;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-right: 1%;
    position: relative;
}

#details-name{
    font-size: 2em;
}
#details-order-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#details-order{
    font-size: 1.7em;
    margin-top: 3%;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#details-add-card{
    width: 80%;
    border: none;
    border-radius: 25px;
    margin-top: 3%;
    padding: 3% 8%;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background-color: #4CAF50;
}
.details-change-img{
    background-color: transparent;
    color: rgb(122, 122, 122);
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    border: none;
    font-size: 3em;
    cursor: pointer;
}
.img-left{
    left: 0;
}
.img-right{
    right: 0;
}
.img-left::before{
    content: "<";
}
.img-right::before{
    content: ">";
}



@media only screen and (max-width: 900px) {
    #details-image-container{
        height: 200px;
    }
}
@media only screen and (max-width: 700px) {
    #details-order{
        width: 60%;
        font-size: 1.3em;
    }
    #details-add-card{
        font-size: 13px;
    }
    #details-image-container{
        height: 160px;
    }
}

@media only screen and (max-width: 500px) {
    #details-name{
        font-size: 1.43em;
    }
    #details-image-container{
        height: 130px;
    }
}