#products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0;
    flex: 1;
}
#filter-container{
    width: 16%;
}
#products-container{
    width: 100%;
    display: flex;
}
.product{
    position: relative;
    padding: .8%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 9%;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.product-image-holder{
    overflow: hidden;
}
.product-image{
    width: 96%;
    height: 97%;
}
.product:hover{
    border: 1px solid rgb(68, 68, 68);
    transition: border .7s;
}
.product:focus{
    border: 1px solid black;
}

.product-title{
    font-size: 1rem;
    padding-bottom: 4.3%;
}
.product-price{
    font-size: .9rem;
    padding-top: 1%;
    margin-bottom: 8%;
}
.add-product-button{
    position: absolute;
    overflow: hidden;
    font-size: 1.25rem;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    right: 1.6px;
    bottom: 1.6px;
}
.add-product-button:hover{
    color: white;
    border: none;
    background-color: rgb(32, 160, 18);
}
@media only screen and (max-width: 1200px) {
    .product-image{
        width: 95%;
    }
    .product{
        width: 14%;
    }
    .product-price{
        padding-top: 1%;
    }
}
@media only screen and (max-width: 850px) {
    .product{
        width: 25%;
        padding: 2%;
    }
}
@media only screen and (max-width: 710px) {
    #filter-container{
        width: 28.8%;
    }
}

@media only screen and (max-width: 500px) {
    .product{
        width: 40%;
    }
}


.products-is-empty{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    width: 100%;

}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loading-spinner {
    width: 40px;
    height: 40px;
    border: 10px solid #cfcfcf; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
}