#products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    padding: 10px;
    padding-bottom: 0;
}
.product{
    padding: 0.6%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 9%;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.product-image{
    width: 85%;
}
.product:hover{
    border: 1px solid rgb(68, 68, 68);
    transition: border .7s;
}

.product-title{
    font-size: 15px;
    padding-bottom: 1%;
}
.product-price{
    font-size: 14px;
    padding-top: 1%;
}
@media only screen and (max-width: 1200px) {
    .product-image{
        width: 95%;
    }
    .product{
        width: 14%;
    }
    .product-price{
        padding-top: 1%;
    }
}
@media only screen and (max-width: 850px) {
    .product{
        width: 25%;
        padding: 1.8%;
    }
}