#products{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.product{
    padding: 1%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 15%;
    border-radius: 20px;
    cursor: pointer;
}
.product:hover{
    border: 1px solid rgb(68, 68, 68);
}

.product-title{
    font-size: 18px;
    word-break: break-all;
}