#details-container{
    margin: 3%;
    display: flex;
    justify-content: center;
}
#details-image-container{
    padding: 0 3%;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-right: 1%;
}

#details-name{
    font-size: 2em;
}

@media only screen and (max-width: 900px) {
    #details-image-container{
        height: 200px;
    }
}
@media only screen and (max-width: 700px) {
    #details-image-container{
        height: 160px;
    }
}

@media only screen and (max-width: 500px) {
    #details-name{
        font-size: 1.43em;
    }
    #details-image-container{
        height: 130px;
    }
}