.card-container{
    display: flex;
}

.cards{
    width: 60%;
}

.cards-no-products{
    margin-top: 3%;
    font-size: 38px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-return-home{
    margin-top: 3%;
    cursor: pointer;
    padding: 1%;
    font-size: 25px;
    background-color: rgb(37, 150, 255);
    color: white;
    border-radius: 25px;
}

.card{
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
}

.card > div{
    display: flex;
    align-items: center;
    flex: auto;
}


.crad-image{
    width: 13%;
}

.crad-title{
    margin-left: 3%;
    padding: 1%;
}

.crad-quantity{
    width: 15%;
    text-align: center;
    
}

.crad-quantity-buttons{
    color: white;
    cursor: pointer;
    padding: 3% 8%;
    font-size: 18px;
    background-color: #4CAF50;
    border: none;
}

.crad-price{
    margin-right: 6%;
}
.card-holder-left{
    width: 55%;
}
.card-holder-right{
    justify-content:right;
    margin-left: 3%;
    width: 45%;
}

.card-sum{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 20%;
}



@media only screen and (max-width: 1200px) {
    .cards{
        width: 90%;
    }
    .card-holder-left{
        width: 63%;
    }
    .crad-image{
        width: 20%;
    }
}
@media only screen and (max-width: 500px) {
    .cards{
        width: 95%;
    }
    .crad-image{
        width: 40%;
    }
    .crad-quantity-buttons{
        padding: 1% 6%;
        font-size: 14px;
    }

    .crad-price{
        font-size: 11px;
    }

    .crad-title, .crad-quantity{
        font-size: 13px;
    }
    .card-sum{
        font-size: 10.4px;
    }
}